.toolbar-img {
    background-image: url('../../../../assets/toolbar.jpg');
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.toolbar-title {
    font-size: 20px;
    color: #585858;
}
